<div class="d-flex">
    <div class="container d-flex align-items-center justify-content-center position-relative flex-wrap">
        <div class="card d-flex position-relative flex-column">
            <div class='imgContainer'>
                <a href={{PDFLink}}>
                    <img src={{ImgUrl}}>
                </a>
            </div>
            <div class="content">
                <h2>{{name}}</h2>
                <p>
                    {{content}}
                </p>
            </div>
        </div>
    </div>
</div>