<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

</head>
<body>

  <nav class="navbar navbar-expand-md navbar-dark bg-dark">
    <div class="container">
      <a class="navbar-brand d-md-none d-xs-block py-3" href="#">
        <img src="/assets/img/logoLaura.png" height="40" alt="Company Logo">
      </a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown"
        aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
  
      <div class="collapse navbar-collapse" id="navbarNavDropdown">
        <ul class="navbar-nav mx-auto">
          <li class="nav-item">
            <a class="nav-link mx-2 active" aria-current="page" href="#">
              <img src="https://img.icons8.com/color-glass/28/null/home-page.png" />
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link mx-2" href="#">Encuentranos</a>
          </li>
          <li class="nav-item">
            <a class="nav-link mx-2 ms-5" href="#">Libros</a>
          </li>
          <li class="nav-item">
            <a class="nav-link mx-2" href="#">Contacto</a>
          </li>
          <li class="nav-item">
            <a class="nav-link mx-2" href="#">Servicios</a>
          </li>
          <li class="nav-item">
            <a class="nav-link mx-2 btn rounded-0 btn-danger" href="#">
              Mas Informacion
            </a>
          </li>
        </ul>
      </div>
    </div>
  </nav>
  <div class="text-center p-3 d-none d-md-block">
    <img src="/assets/img/logoLaura.png" height="120" alt="Company Logo">
  </div>
  
  <footer class="footer fixed-bottom">
  
    <footer class=" bg-dark text-center text-white">
      <!-- Grid container -->
      <div class="container p-4 pb-0">
        <!-- Section: Social media -->
        <section class="mb-4">
          <a class="btn btn-outline-light btn-floating m-1" href="https://es-es.facebook.com/ARMORSBA/" role="button">
            <img src="https://img.icons8.com/avantgarde/35/null/facebook.png" />
          </a>
          <a class="btn btn-outline-light btn-floating m-1" 
            href="https://wa.me/+34687516476?text=Buenas, estoy interesado en " role="button">
            <img src="https://img.icons8.com/cotton/35/null/whatsapp--v4.png" />
          </a>
          <a 
            class="btn btn-outline-light btn-floating m-1" 
            href="https://www.instagram.com/papelerialaura01/" 
            role="button"
          >
            <img src="https://img.icons8.com/color/35/null/instagram-new--v1.png" />
          </a>
  
          <!-- Twitter -->
          <a class="btn btn-outline-light btn-floating m-1" href="mailto:info@papelerialaura.com" role="button">
            <img src="https://img.icons8.com/fluency/35/null/composing-mail.png" />
          </a>
          
          <a 
            class="btn btn-outline-light btn-floating m-1" 
            href="https://www.google.com/maps/place/Papeler%C3%ADa+Laura/@36.5293574,-6.1994707,15z/data=!4m19!1m13!4m12!1m4!2m2!1d-6.1845218!2d36.5248487!4e1!1m6!1m2!1s0xd0dcdd5cc82d4e3:0xe7aad8b579ad30f4!2spapeleria+laura!2m2!1d-6.1994267!2d36.5323061!3m4!1s0xd0dcdd5cc82d4e3:0xe7aad8b579ad30f4!8m2!3d36.5323061!4d-6.1994267" role="button">
            <img src="https://img.icons8.com/fluency/35/null/navigation.png" />
          </a>
          
         

        </section>
        <!-- Section: Social media -->
      </div>
      <!-- Grid container -->
  
      <!-- Copyright -->
      <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2);">
        © 2022 Papeleria Laura:
        <a class="text-white" href="https://mdbootstrap.com/">papelerialaura.com</a>
      </div>
      <!-- Copyright -->
    </footer>
  </footer>
</body>

</html>