<div class="container d-flex justify-content-center text-center mt-5">
    <div class="container">
        <div class="row d-flex">
            <div class="col ms-4 me-4 mb-4">
                <div class="accordion">
                    <div class="accordion-item">
                        <h2 class="accordion-header text-center justify-content-center" id="headingOne">
                            <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne"
                                aria-expanded="true" aria-controls="collapseOne">
                                ¿Se realizan encuadernaciones?
                            </button>
                        </h2>
                        <div id="collapseOne" class="accordion-collapse collapse show" aria-labelledby="headingOne"
                            data-bs-parent="#accordionExample">
                            <div class="accordion-body">
                                Realizamos todo tipo de encuadernaciones, ya sea en tapa blanda o en tapa dura.
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col">
                Puedo enviar mis documentos a la impresora
            </div>
        </div>
        
        <div class="row d-flex">
            <div class="col">
                Impresion en gran formato
            </div>
            <div class="col">
                Metodos aceptados
            </div>
        </div> 
    </div>
</div>